<ion-view>      
	<ion-content>
		<div class="card">

			<div class="item item-divider">
				<!-- <ion-item class="item-text-wrap">{{message}}</ion-item> -->          
				Add Customer
			</div>
			<div class="item item-body">

				<form ng-submit="add_customer(data,selectedCategory,selectedType)" name="myForm">
					<div class="list list-inset " ng-show="step1">
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Customer's Company Name" name="customer_name" ng-model="data.customer_name" required="">
						</label>   
						<span class="error-message" ng-show="myForm.customer_name.$touched && myForm.customer_name.$error.required">required</span>        
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Enter Mobile Number" name="customer_mobile_no" ng-model="data.customer_mobile_no" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" required />
						</label>
						<span class="error-message" ng-show="myForm.customer_mobile_no.$dirty && myForm.customer_mobile_no.$invalid">The phone number field should be of 10 digits</span>
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Enter Email-ID" name="customer_email_id" ng-model="data.customer_email_id" 
							ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required />
						</label>
						<span class="error-message" ng-show="myForm.customer_email_id.$touched && myForm.customer_email_id.$invalid">The Email is required.</span>
						<span class="error-message" ng-show="myForm.customer_email_id.pattern"> Not valid email! </span>
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Enter Business" name="customer_business" ng-model="data.customer_business" required="" /> 
						</label>
						<span class="error-message" ng-show="myForm.customer_business.$touched && myForm.customer_business.$error.required">required</span>
				
						<div class="">
							<a class="button  button-block button-assertive" ng-click="savestep1()" ng-disabled="!data.customer_name||!data.customer_mobile_no||!data.customer_email_id||!data.customer_business" type="submit">Save and Continue</a>          
						</div>                                  
					</div>
					<div class="list list-inset  tranparent-color2" ng-show="step2" name="myForm">
						<h3 class="item-divider text-center ">Advertisment Type</h3>
						<label class="item item-input item-select  ">
							<div class="input-label ">
								category:
							</div>
							<select ng-model="selectedCategory" ng-options="x for x in names"></select>					
						</label>
						<label class="item item-input item-select ">
							<div class="input-label">
								Select Type:
							</div>
							<select ng-model="selectedType" ng-options="x for x in types"></select>
						</label>
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Webpage Links" name="webpage_links" ng-model="data.webpage_links" required="" />          
						</label>
						<span class="error-message" ng-show="myForm.webpage_links.$touched && myForm.webpage_links.$error.required">required</span>
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Keywords" name="customer_keywords" ng-model="data.customer_keywords" required="" />          
						</label>
						<span class="error-message" ng-show="myForm.customer_keywords.$touched && myForm.customer_keywords.$error.required">required</span>
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Amount" name="customer_amount" ng-model="data.customer_amount" required="" />
						</label>  
						
						<span class="error-message" ng-show="myForm.customer_amount.$touched && myForm.customer_amount.$error.required">required</span>                                          
					</div>
					<div class="" ng-show="step2" >          
						<button class="button  button-block button-assertive" type="submit" ng-disabled="myForm.$invalid">Submit</button>
					</div>
				</form>       
			</div>
		</div>
	</ion-content>
</ion-view>