<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top   tabs-icon-top tabs-background-positive tabs-color-stable">

  <!-- Dashboard Tab -->
  <ion-tab title="DashBoard" icon="ion-speedometer"  href="#/agent/dash">
    <ion-nav-view name="agent-agent"></ion-nav-view>
  </ion-tab>
<!-- Account Tab -->
  <ion-tab title="Account"  icon="ion-person"  href="#/agent/agentAccount">
    <ion-nav-view name="agent-agentAccount"></ion-nav-view>
  </ion-tab>
    <!-- transaction Tab -->
<ion-tab title="Transaction"  icon="ion-stats-bars" href="#/agent/agentTransaction">
    <ion-nav-view name="agent-agentTransaction"></ion-nav-view>
  </ion-tab>
  <!-- offer page -->
  <ion-tab title="Offers" icon="ion-pricetags" href="#/agent/agentOffers">
    <ion-nav-view name="agent-agentOffers"></ion-nav-view>
  </ion-tab>
  <!-- profile Tab -->
<!--
  <ion-tab title="Profile" href="#/agent/agentProfile">
    <ion-nav-view name="agent-agentProfile"></ion-nav-view>
  </ion-tab>
-->
 <!-- agent Tab -->
  <!-- <ion-tab title="DashBoard" href="#/tab/agent">
    <ion-nav-view name="tab-agent"></ion-nav-view>
  </ion-tab>
 -->

</ion-tabs>
