<ion-view view-title="FUND COLLECTION">
  <ion-content>
  <div class="list list-inset ">
  <label class="item item-input transparent-color">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-change="search()" ng-model="search_text" value="{{customer_id}}" />
  </label>

<ul  ng-repeat="customer in customers | filter:search_text" ng-show="Customerlist">
    <li class="item item-avatar transparent-color2" ng-click="show_offer(customer.unique_id,customer.image_name,customer.name)">
            <img ng-src="img/{{customer.image_name}}">
    <h2>{{customer.name}}</h2>
    <p>{{customer.unique_id}}</p>
    <p>{{customer.city}}</p>
    </li>
</ul>
</div> 
<div class="card" ng-show="Customer">
     <div class="item item-avatar">
    <img ng-src="img/{{img_name}}">
     <h2><b> {{cusname}}</b></h2>
      <p> {{customer_id}}</p>  
  </div>
</div>
<div class="card" type="item-text-wrap" ng-repeat="offer in offers" >
  <div class="item item-divider" >  
   {{offer.offer_name}}     
  </div>
  <div class="item item-body">
    <img class="offer-image" ng-src="img/{{offer.offer_img}}" alt="">
    <p>
   {{offer.desc}}
    </p>  
  </div>
</div>
  </ion-content>
</ion-view>