<ion-view view-title="FUND COLLECTION">
  <ion-content>
  <div class="list list-inset">
  <label class="item item-input ">
    <i class="icon ion-search placeholder-icon"></i>
    <input  type="text" placeholder="Search" ng-change="search()" ng-model="search_text" value="{{customer_id}}" />
  </label>

<ul  ng-repeat="customer in customers | filter:search_text" ng-show="Customerlist">
    <li class="item item-avatar transparent-color2" ng-click="show_transaction(customer.unique_id,customer.image_name,customer.name)">
            <img ng-src="img/{{customer.image_name}}">
    <h2>{{customer.name}}</h2>
    <p>{{customer.unique_id}}</p>
    <p>{{customer.city}}</p>
    </li>
</ul>
</div> 
<div class="card" ng-show="Customer">
     <div class="item item-avatar">
    <img ng-src="img/{{img_name}}">
     <h2><b> {{cusname}}</b></h2>
      <p> {{customer_id}}</p>  
  </div>
</div>


<div  class="card"  ng-repeat="data in transaction" type="item-text-wrap">
  <div class="item item-divider">
    {{data.payment_date}}
  </div>
  <a class="row item item-text-wrap  transparent-color3" href="#/agent/agentTransaction/{{data.id}}">
        <div class="col col-60 ">{{data.booking_number}}</div>
       
        <div class="col col-30">{{data.amount}}/- </div>
        <div class="col col-10 "><i class="icon ion-chevron-right"></i></div>
     
                     
  </a>      
</div>


  </ion-content>
</ion-view>