<ion-view view-title="FUND COLLECTION">
  <ion-content>
  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-change="search()" ng-model="search_text" value="{{unique_id}}" />
  </label>


<ul  ng-repeat="customer in customers | filter:search_text" ng-show="Customerlist">
    <li class="item item-avatar transparent-color2" ng-click="cus_list(customer.unique_id,customer.image_name,customer.name,customer.mobile)">
            <img ng-src="{{'img/'+customer.image_name}}">
    <h2>{{customer.name}}</h2>
    <p>{{customer.unique_id}}</p>
    <p>{{customer.city}}</p>
    </li>
</ul>
</div> 
<div class="card" ng-show="Customer">
     <div class="item item-avatar">
    <img ng-src="{{'img/'+img_name}}">
     <h2><b> {{cusname}}</b></h2>
      <p> {{customer_id}}</p>
   
  </div>
</div>
     <div class="card" ng-repeat="account in accounts">
           <div class="item item-divider">
        {{account.booking_number}}
      </div>
  <div class="item">
                   <div class="row">
            <div class="col col-50">bill_amount</div>
            <div class="col col-50"> : {{account.bill_amount}}</div>  
          
        </div>
             <div class="row">
            <div class="col col-50">billing_date</div>
            <div class="col col-50"> : {{account.billing_date}}</div>  
      
            </div>
             <div class="row">
            <div class="col col-50">due_date</div>
            <div class="col col-50"> : {{account.due_date}}</div>  
            </div>
      <div class="row">
         
            <div class="col col-50">Total</div>
            <div class="col col-50"> : {{account.total}}</div>  
          </div>
			   <a angular-ripple class="button button-full button-positive " href="#/agent/agentAccount/{{account.id}}">Pay Now</a></div>	
      </div>
  


  </ion-content>
</ion-view>
