<ion-view >
  <ion-content ng-controller="dashboardCtrl">
   <ion-slide-box >
    <ion-slide ng-repeat="offer in dashboardoffers" >
      <div class = "box box1 image" >
       <img class ="offer-image" ng-src="{{'img/'+offer.offer_img}}"/>
     </div>
   </ion-slide>
 </ion-slide-box>
         
 <div class="row no-padding">
   <div class="col no-padding ">
     <div class="card ">
       <div class="item item-image font-size-30">
         <i class="icon ion-stats-bars positive "></i>
       </div>
       <a class="item pad " href="#/agent/dash">
         User Status
       </a>
     </div>    
   </div> </div>
   <div class="row no-padding margin-top-minus"> 
    <div class="col-50">
     <div class="card ">
       <div class="item item-image font-size-30">
         <i class="icon ion-pie-graph  positive"></i>
       </div>
       <a class="item pad " href="#/agent/dash">
         User Status
       </a>
     </div>
   </div> 
   <div class="col-50">
     <div class="card ">
      <div class="item item-image font-size-30">
        <i class="icon ion-person-add  positive"></i>
      </div>
      <a class="item pad " href="#/agent/dash/add_customer">
        Add Customer
      </a>
    </div></div></div>
  </ion-content>
</ion-view>