<ion-view hide-nav-bar="true" class="loginBg text-center">

  <ion-content >
   <div class="height-one">
    
  </div>
      <h1 class="assertive" >FORGOT</h1>
       <h1 class="assertive" >PASSWORD</h1>
         <div class="height-two">
    
  </div>
    <form ng-submit="getotp(data)" ng-show="step1" name="myForm">

     <div class="list list-inset transparent-color   ">
      <label class="item item-input transparent-color">
        <input type="text" placeholder="Enter your ID" name="id" ng-model="data.id" required="" />
      </label>    
      <span class="error-message" ng-show="myForm.id.$touched && myForm.id.$error.required">required</span>  
     </div>
             <div class="padding">
         <button class="button button-block button-assertive" type="submit">Submit</button>
        </div>
  </form>
  <form ng-submit="otp_verification(data)" ng-show="step2" name="myForm">

     <div class="list list-inset transparent-color   ">
      <label class="item item-input transparent-color">
        <input type="text" placeholder="Enter your OTP" name="otp" ng-model="data.otp" required="" />
      </label>    
      <span class="error-message" ng-show="myForm.otp.$touched && myForm.otp.$error.required">required</span>  
     </div>
     <div><button class="button button-small button-assertive" ng-click="resend_otp()">Resend OTP</button></div>
             <div class="padding">
         <button class="button button-block button-assertive" type="submit">Verify</button>
        </div>
  </form>
  <form ng-submit="change_password(data)" ng-show="step3" name="myForm">

     <div class="list list-inset transparent-color   ">
      <label class="item item-input transparent-color">
        <input type="password" placeholder="Password" name="password" ng-model="data.password" ng-model="newpassword" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[@#$%])/" required=""  />
        </label>
               <span class="error-message" ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
               <span class="error-message" ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
               <span class="error-message" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter,special character and one non-alpha character (a number or a symbol.)</span>
      
      <label class="item item-input transparent-color">
        <input type="password" placeholder="Re-Enter Password"  name="re_password" ng-model="data.re_password" valid-confirmpassword required="" />
      </label>   
      <span class="error-message" ng-if="password !== re_password">
        Passwords do not match
       </span>    
     </div>
             <div class="padding">
         <button class="button button-block button-assertive" type="submit">Submit</button>
        </div>
  </form>
      
  
</ion-content>
</ion-view>