<ion-view hide-nav-bar="true" class="loginBg text-center">

  <ion-content >
   <div class="height-one">
    
  </div>
      <h1 class="assertive" >SIGN IN</h1>
         <div class="height-two">
    
  </div>
    <form ng-submit="login(data)" name="myForm" novalidate>

     <div class="list list-inset transparent-color4   ">
      <label class="item item-input transparent-color" ng-class="{ 'has-errors' : myForm.id.$invalid && !myForm.id.$pristine, 'no-errors' : myForm.id.$valid}">
        <input type="text" placeholder="Enter your ID" name="id" ng-model="data.id" ng-minlength="3" ng-maxlength="8" required="" />
      </label>
		 <div class="height11">
      <span class="error-message " ng-show="myForm.id.$touched && myForm.id.$error.required">id required</span>
			 <span ng-show="myForm.id.$error.minlength" class="error-message">Username is too short.</span>
  <span ng-show="myForm.id.$error.maxlength" class="error-message">Username is too long.</span>
		 </div>
      <label class="item item-input transparent-color" ng-class="{ 'has-errors' : myForm.password.$invalid && !myForm.password.$pristine, 'no-errors' : myForm.password.$valid}">
        <input type="password" placeholder="Password" name="password" ng-minlength="6" ng-maxlength="14" ng-model="data.password" required="" />
      </label>
		  <div class="height11">
			  <span class="error-message" ng-show="myForm.password.$touched && myForm.password.$error.required">password required</span>
		  <span ng-show="myForm.password.$error.minlength" class="error-message">Password is too short.</span>
  <span ng-show="myForm.password.$error.maxlength" class="error-message">Password is too long.</span>
		 </div>
     </div>
             <div class="padding">
         <button class="button button-block button-assertive" ng-disabled="myForm.$invalid" type="submit">LOGIN</button>
        </div>
  </form>

    <a href="#/forget" class="padding anchor assertive">Forgot Password?</a>
  <p class="padding">New customer <a href="#/register" class="register assertive">Click Here</a> to register</p>
</ion-content>
</ion-view>