<ion-view  hide-nav-bar="true" class="loginBg text-center">

  <ion-content>
       <div class="height-one">
    
  </div>
      <h1 class="assertive" >SIGN UP</h1>

    <form ng-submit="register(data)" name="myForm">
      <div class="list list-inset transparent-color4">
<!--
      <label class="item item-input transparent-color" ng-class="{ 'has-errors' : myForm.name.$invalid && !myForm.name.$pristine, 'no-errors' : myForm.name.$valid}">
        <input type="text" placeholder="Enter your name" name="name" ng-model="data.name" ng-required="true" ng-minlength="2" >
      </label>
		  <div class="height-two">
      <span class="error-message" ng-show="myForm.name.$touched && myForm.name.$error.required">The First Name is Mandatory</span>
			  <span class="error-message" ng-show="myForm.name.$dirty && myForm.name.$error.minlength">The First Name should be minimum 2 characters</span></div> 
-->
      <label class="item item-input transparent-color" ng-class="{ 'has-errors' : myForm.id.$invalid && !myForm.id.$pristine, 'no-errors' : myForm.id.$valid}">
        <input type="text" placeholder="enter your ID" name="id" ng-model="data.id" required="" />
      </label>
		  <div class="height11">
      <span class="error-message" ng-show="myForm.id.$touched && myForm.id.$error.required">required</span>
      <!-- <label class="item item-input transparent-color"> -->
        <!-- <ionic-datepicker callback="datePickerCallback" ng-click="openDatePicker()"> -->
        <!-- <input type="text" placeholder="enter OTP" name="otp" ng-model="data.otp" required=""> -->
        <!-- <span></span> -->
        <!-- </ionic-datepicker> -->
      <!-- </label> -->
		<!-- 	  <span class="error-message" ng-show="myForm.otp.$touched && myForm.otp.$error.required">required</span></div>
      <label class="item item-input transparent-color" ng-class="{ 'has-errors' : myForm.mobile.$invalid && !myForm.mobile.$pristine, 'no-errors' : myForm.mobile.$valid}">
        <input type="tel" placeholder="Mobile number" name="mobile" ng-model="data.mobile" ng-maxlength="10" ng-minlength="10" 
           ng-pattern="/^\d{10}$/" required />
      </label> <div class="height11">
		 <span class="error-message" ng-show="myForm.mobile.$dirty && myForm.mobile.$invalid">The phone number field should be of 10 digits</span></div>
      <label class="item item-input transparent-color" ng-class="{ 'has-errors' : myForm.email.$invalid && !myForm.email.$pristine, 'no-errors' : myForm.email.$valid}">
        <input type="email" placeholder="email" name="email" ng-model="data.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required="" />
      </label> <div class="height11">
      <span class="error-message" ng-show="myForm.email.$touched && myForm.email.$invalid">The Email is required.</span>
		 <span class="error-message" ng-show="myForm.email.pattern"> Not valid email! </span> -->
    </div>
      <label class="item item-input transparent-color" ng-class="{ 'has-errors' : myForm.password.$invalid && !myForm.password.$pristine, 'no-errors' : myForm.password.$valid}">
        <input type="password" placeholder="password" name="password" ng-model="data.password" ng-minlength="8" ng-maxlength="20"  ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[@#$%])/" required=""  pw-check="confirmPassword"/>
		  </label> 
		  <div class="height11">
               <span class="error-message" ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
               <span class="error-message" ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Password requires 8 to 20 characters.</span>
               <span class="error-message" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">(A-Z , a-z , 0-9, symbols)</span>
		 </div>
      
		        <label class="item item-input transparent-color" ng-class="{ 'has-errors' : myForm.confirmPassword.$invalid && !myForm.confirmPassword.$pristine && !myForm.password.$error.pwmatch, 'no-errors' : myForm.confirmPassword.$valid}">
        <input type="password" placeholder="confirm password" name="confirmPassword" ng-model="confirmPassword" ng-minlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[@#$%])/" ng-maxlength="20"  required=""  />
        </label>  <div class="height-two">
		  <span class="error-message" ng-show="!myForm.password.$error.required && (myForm.confirmPassword.$error.minlength || myForm.confirmPassword.$error.maxlength) && myForm.confirmPassword.$dirty">Password requires 8 to 20 characters.</span>
		  <span class="error-message" ng-show="myForm.password.$error.pwmatch"> Passwords don't match. </span>
		  </div>
		  
		</div>
        <div class="padding">
      <button class="button  button-block button-assertive" type="submit" ng-disabled="myForm.$invalid">REGISTER</button>
      </div>
  </form>
   <p class="padding">Already customer <a href="#/login" class="register assertive">Click Here</a> to login</p>
</ion-content>
</ion-view>