<ion-view>      
	<ion-content>
		<div class="card">

			<div class="item item-divider ">
				<h3 class="item-text-wrap">{{message}}</h3>          
				Request New Customer
			</div>
			<div class="item item-body">
				<form class="list" ng-submit="req_customer(data)" name="myForm">
					<label class="item item-input transparent-color2">
							<input type="text" placeholder="Customer Name" name="customer_name" ng-model="data.customer_name" required="" />          
						</label>
						<span class="error-message" ng-show="myForm.customer_name.$touched && myForm.customer_name.$error.required">required</span> 
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Customer Mobile Number" name="customer_mobile_no" ng-model="data.customer_mobile_no" ng-maxlength="10" ng-minlength="10"  ng-pattern="/^\d{10}$/" required="" />
      					</label>
      <span class="error-message" ng-show="myForm.customer_mobile_no.$dirty && myForm.customer_mobile_no.$invalid">The phone number field should be of 10 digits</span>
						<label class="item item-input transparent-color2">
							<input type="email" placeholder="Customer Email ID" name="customer_email_id" ng-model="data.customer_email_id" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required="" />
      </label>
      <span class="error-message" ng-show="myForm.customer_email_id.$touched && myForm.customer_email_id.$invalid">The Email is required.</span>
         <span class="error-message" ng-show="myForm.customer_email_id.pattern"> Not valid email! </span>
					<div class="" >          
						<button class="button  button-block button-assertive" type="submit">Submit</button>
					</div>
				</form>       
			</div>	
		</div>
	</ion-content>
</ion-view>
