<ion-view >
  <ion-content>

    <div class="card" ng-repeat="data in singleTransaction">

      <div class="item item-divider">
        {{data.booking_number}}
      </div>

      <div class="item item-text-wrap">
       
        <div class=""> 

          <div class="row">
            <div class="col col-50">Paid Amount</div>
            <div class="col col-50"> : {{data.amount}}</div>  
          </div>

          <div class="row">
            <div class="col col-50">Payment Status</div>
            <div class="col col-50"> : {{data.payment_status}}</div>  
          </div>

          <div class="row">
            <div class="col col-50">Transation ID</div>
            <div class="col col-50"> : {{data.transaction_no }}</div>  
          </div>

          <div class="row">
            <div class="col col-50">Transaction on</div>
            <div class="col col-50"> : {{data.payment_date | date:'dd-MM-yyyy'}}</div>  
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>