<ion-view>
  <ion-content>
    <div ng-show="show" class=" card">
      <div class="item item-text-wrap">
        {{offer_text}}
      </div>
    </div>
<div class=" card" ng-hide="show" ng-repeat="offer in offers" type="item-text-wrap">

  <div class="item item-divider">  
    {{offer.offer_name}}  
  </div>

  <div class="item item-body">
   <img class="offer-image" src="img/{{offer.offer_img}}" alt="">
    <p>
   {{offer.desc}}
    </p>   
  </div>

</div>
  </ion-content>
</ion-view>