<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-striped tabs-top   tabs-icon-top tabs-background-positive tabs-color-stable">
  <!-- Dashboard Tab -->
  <ion-tab  title="DashBoard" icon="ion-speedometer" href="#/tab/dashboard" >   
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>

<!-- Account Tab -->
  <ion-tab title="Account" icon="ion-person"  href="#/tab/user_account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
    <!-- transaction Tab -->
<ion-tab title="Transaction" icon="ion-stats-bars" href="#/tab/transaction">
    <ion-nav-view name="tab-transaction"></ion-nav-view>
  </ion-tab>
  <!-- profile Tab -->

    <ion-tab title="Offers" icon="ion-pricetags" icon="ion-pricetags" href="#/tab/offers">
    <ion-nav-view name="tab-offers"></ion-nav-view>
  </ion-tab>
  <!-- edit  -->
 <!--   <ion-tab title="edit" href="#/tab/user_profile/edit">
    <ion-nav-view name="user_profile_edit"></ion-nav-view>
  </ion-tab> -->
 <!-- agent Tab -->
  <!-- <ion-tab title="DashBoard" href="#/tab/agent">
    <ion-nav-view name="tab-agent"></ion-nav-view>
  </ion-tab>
 -->
</ion-tabs>