<ion-view >
 <ion-content class="padding">
 <div ng-show="show" class=" card">
      <div class="item item-text-wrap">
        {{transaction_text}}
      </div>
    </div>

<div class="card" ng-hide="show"  ng-repeat="data in transaction" type="item-text-wrap">
  <div class="item item-divider">
    {{data.payment_date}}
  </div>
  <a class="row item item-text-wrap transparent-color3" href="#/tab/transaction/{{data.id}}">
        <div class="col col-60">{{data.booking_number}}</div>
       
        <div class="col col-30">{{data.amount}}/- </div>
        <div class="col col-10 "><i class="icon ion-chevron-right"></i></div>
              
  </a>
    
</div>
</ion-content>
</ion-view