<ion-view>
	<ion-content>
        	<div class="card" ng-show="step1">
		<div class="item ">	
				<div class="row">
					<div class="col col-50">Total Amound</div>
					<div class="col col-50"> : {{accounts.total}}</div>  
				</div>
			
                </div></div>
		<div class="card" ng-show="step1">

			
  <div class="item item-divider">
      Select Payment Mode
      </div>

			<div class="item item-body">
				<ion-list>
					<ion-radio ng-model="mode" ng-value="'Razorpay'">1.Razorpay</ion-radio>
					<ion-radio ng-model="mode" ng-value="'Cheque'">2.Cheque</ion-radio>
					<ion-radio ng-model="mode" ng-value="'Cash'">3.Cash</ion-radio>
				</ion-list>
				<button class="button button-full button-positive" ng-click="send_otp(mode)">Continue</button>				
			</div>
		</div>

		<div class="card" ng-show="step2">
            	<div class="item item-body">
			<label class="item item-input transparent-color2">
				<span class="input-label">Enter OTP :</span>
				<input type="text" ng-model="otp">
			</label>
			<button class="button button-full button-positive" ng-click="payment_process(accounts,mode,otp)">Submit</button>
            </div>
		</div>
 
		<div class="card" ng-show="step3">

			<div class="item  item-divider">
						<h3>{{message}}</h3>
				Cheque Details
			</div>
			<div class="item item-body">

				<form ng-submit="cheque_submit(data)">
					<div class="list list-inset ">
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Bank Name" ng-model="data.bank_name" required="">
						</label>
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Branch Name" ng-model="data.branch_name" required="">
						</label>
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Cheque Number" ng-model="data.chque_number" required="">					
						</label>
						<label class="item item-input transparent-color2">
							<input type="date" placeholder="cheque date" ng-model="data.chque_date" required="">
						</label>						
					</div>
					<div class="padding">
						<button class="button  button-block button-assertive" type="submit">Submit</button>
					</div>
				</form>				
			</div>
		</div>
		<div class="card" ng-show="step4">

			<div class="item  item-divider ">	
				<h3>{{message}}</h3>				
				Cash Details
			</div>

			<div class="item item-body">
				
				<form ng-submit="cash_submit(data)">
					<div class="list list-inset">
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Amount" ng-model="data.amount" required="">
						</label>
						<label class="item item-input transparent-color2">
							<input type="text" placeholder="Description" ng-model="data.description" required="">
						</label>						
					</div>
					<div class="padding">
						<button class="button  button-block button-assertive" type="submit">Submit</button>
					</div>
				</form>				
			</div>
		</div>
        <div class="card" ng-show="step5">
            	<div class="item item-body">
			
			<button class="button button-full button-positive" ng-click="pay()">Submit</button>
            </div>
		</div>

	</ion-content>
</ion-view>