<ion-view view-title="Profile">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" ng-click="goBack()"> <i class="icon ion-ios-arrow-back"> Back</i> </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card item-text-wrap list-inset" ng-show="form1">
            <div class="item item-image"> <img ng-src="img/{{profileData.image_name}}" alt="">
                <div class="item item-divider"> User Profile </div>
                 <h3>{{message}}</h3> 
                <a class="item item-icon-left text-left "> <i class="icon ion-person"></i>{{profileData.name}}</a>
                <a class="item item-icon-left text-left"> <i class="icon ion-home"></i>{{profileData.city}}</a>
                <a class="item item-icon-left text-left"><i class="icon ion-email"></i>{{profileData.email}}</a>
                <a class="item item-icon-left text-left"><i class="icon ion-iphone"></i>{{profileData.mobile}}</a>
        
             <button class="round-overlay-button bottom-right assertive button button-icon icon ion-plus light" ng-click="editProfile()"></button>
  </div>

</div>
<div class="card" ng-show="form2">
      <div class="item  item-divider">      
        Edit Profile
      </div>
      <div class="item item-body">
        <form ng-submit="edit_profile(data)">
          <div class="list list-inset ">
            <label class="item item-input transparent-color2">
              <input type="text" placeholder="Enter Your new Name" ng-model="data.User_name" required="">
            </label>
        <!--     <label class="item item-input">
          <span class="input-label">Upload Image</span>
         <input type="file" name="data.image">
          </label>  
              
              <button class="button button-full button-assertive" ng-click="takePhoto()">
Choose Photo
</button> -->
          </div>
          <div class="padding">
            <button class="button  button-block button-assertive" type="submit">Submit</button>
          </div>
        </form>       
      </div>
    </div>
    <div class="card" ng-show="form3">

      <div class="item item-divider ">       
      Change Password
      </div>
      <div class="item item-body">

        <form ng-submit="change_password(data)" name="myForm">
          <div class="list list-inset">
            <label class="item item-input transparent-color2">
              <input type="password" placeholder="Current Password" name="current_password" ng-model="data.current_password" g-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[@#$%])/" required=""  />
        </label>
               <span class="error-message" ng-show="myForm.current_password.$error.required && myForm.current_password.$dirty">required</span>
               <span class="error-message" ng-show="!myForm.current_password.$error.required && (myForm.current_password.$error.minlength || myForm.current_password.$error.maxlength) && myForm.current_password.$dirty">current_passwords must be between 8 and 20 characters.</span>
               <span class="error-message" ng-show="!myForm.current_password.$error.required && !myForm.current_password.$error.minlength && !myForm.current_password.$error.maxlength && myForm.current_password.$error.pattern && myForm.current_password.$dirty">Must contain one lower &amp; uppercase letter,special character and one non-alpha character (a number or a symbol.)</span>
            <label class="item item-input transparent-color2">
              <input type="password" placeholder="New Password" name="new_password" ng-model="data.new_password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[@#$%])/" required=""  />
        </label>
               <span class="error-message" ng-show="myForm.new_password.$error.required && myForm.new_password.$dirty">required</span>
               <span class="error-message" ng-show="!myForm.new_password.$error.required && (myForm.new_password.$error.minlength || myForm.new_password.$error.maxlength) && myForm.new_password.$dirty">new_passwords must be between 8 and 20 characters.</span>
               <span class="error-message" ng-show="!myForm.new_password.$error.required && !myForm.new_password.$error.minlength && !myForm.new_password.$error.maxlength && myForm.new_password.$error.pattern && myForm.new_password.$dirty">Must contain one lower &amp; uppercase letter,special character and one non-alpha character (a number or a symbol.)</span>
            <label class="item item-input transparent-color2">
              <input type="password" placeholder="Re-enter New Password" name="re_enter_new_password" ng-model="data.re_enter_new_password" valid-confirmpassword required="" />
      </label>   
      <span class="error-message" ng-if="new_password !== re_enter_new_password">
        Passwords do not match
       </span>    
          </div>
          <div class="padding">
            <button class="button  button-block button-positive" type="submit">Submit</button>
          </div>
        </form>       
      </div>
    </div>   
</ion-content>
</ion-view>