<ion-view view-title="FUND COLLECTION">
    
	<ion-content>
        <div ng-show="show" class=" card">
      <div class="item item-text-wrap">
        {{accounts_text}}
      </div>
    </div>
     <div class="card" ng-show="show_account" ng-repeat="account in accounts">
         <div class="item item-divider">
       	{{account.booking_number}}
      </div>
	<div class="item">
        	         <div class="row">
            <div class="col col-50">bill_amount</div>
            <div class="col col-50"> : {{account.bill_amount}}</div>  
          
           </div>
             <div class="row">
            <div class="col col-50">Charges</div>
            <div class="col col-50"> : {{account.charges}}</div>  
      
        </div>
             <div class="row">
            <div class="col col-50">billing_date</div>
            <div class="col col-50"> : {{account.billing_date}}</div>  
      
            </div>
             <div class="row">
            <div class="col col-50">due_date</div>
            <div class="col col-50"> : {{account.due_date}}</div>  
            </div>
      <div class="row">
         
            <div class="col col-50">Total</div>
            <div class="col col-50"> : {{account.total}}</div>  
          </div>

        
			
			   <button class="button  button-full button-positive " ng-click="pay(account.unique_id,account.booking_number,account.due_date,account.agent_key,account.total)">Pay Now</button>	
			
         </div>        
	</ion-content>
</ion-view>