


$light:                           #ffffff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #428e92 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #006064 !default;
$energized:                       #ffc900 !default;
$assertive:                       #00363a !default;
$royal:                           #886aea !default;
$dark:                            #00363a !default;

//background-color
$base-background-color:           #E1E2E1 !default;
$base-color:                      #000 !default;

//side-menu-color
$menu-bg:                         $light !default;

// Lists
$list-header-color:               $light !default;

$list-header-bg:                  #000 !default;
$input-color-placeholder:         lighten($dark, 10%) !default;
$item-divider-bg:                 $positive !default;
$item-divider-color:              $light !default;

$button-border-radius:            0px !default;
$button-positive-active-bg:       $positive !default;
$button-assertive-active-bg:      $assertive !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.list-inset .item.item-input input{
    padding-right: 22px;
}
.menu-open .bar.bar-header.expanded {
        display: block;
    background-position: 0;
    background-size: 100%;
}
.menu .bar.bar-header.expanded img,.menu .bar.bar-header.expanded h3{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.has-expanded-header {
    top: 200px !important;
}
.menu .bar.bar-header.expanded {
     display: block;
    box-shadow: none;
    min-height: 200px;
   
}
.menu .bar.bar-header.expanded {
    background-image: url('../img/lolipop-img.jpg');
    background-size: 130%;
    background-position: 0%;
    transition: all .5s ease-in-out;
 
}
.bar.bar-header.expanded, .expanded .bar.bar-header {
    -webkit-transition: height 1s cubic-bezier(.55,0,.1,1);
    transition: height 1s cubic-bezier(.55,0,.1,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.bar.bar-header.expanded, .expanded .bar.bar-header {
    height: 75px;
}
.menu .bar-header {
    z-index: 11;
}
.loginBg{
 
background: #006064; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #428e92, #006064); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #428e92, #006064); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left!important;
}
.height11{
	height:8vmin;
}
.margin1{
	margin-bottom:15px;
}
.margin2{
	margin-top:15px
}
.height-one{
    height: 30vmin;
}
.height-two{
     height: 10vmin;
}
.item{
    border-width: 0;
border-style: solid;
}

.transparent-color{
    background-color: rgba(255, 255, 255, 0.25);
}
.transparent-color2{
    background-color: rgba(183, 183, 183, 0.25);
}
.transparent-color3{
    background-color: rgba(206, 206, 206, 0.25);
}
.transparent-color4{
	background-color: transparent;
}
.box1{
   height: 200px;

}
.box img{
width:100%;
height:100%;
}
.has-errors {
    border-left: 3px solid #cc2511;
    border-right: 3px solid #cc2511;
}
.no-errors {
    border-left: 3px solid #3d8b3d;
    border-right: 3px solid #3d8b3d;
}
.pane {
-webkit-transition-duration: 300ms!important;
transition-duration: 300ms!important;
}

.font-size-30{
    font-size: 30vmin;
}
.no-padding{
    padding:0;
}
.profile-size{
        border-radius: 50%;
    width: 50%;
}
.margin-top-minus{
 margin-top:-15px!important;   
}
button.button-icon.round-overlay-button {
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  min-height: 56px;
  padding: 0;
  border: none;
  background-color: #ffc900;
  color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all linear 220ms;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

button.button-icon.round-overlay-button.energized {
  background-color: #ffc900;
  color: white;
}

button.button-icon.round-overlay-button.energized.activated {
  background-color: #b38d00;
}

button.button-icon.round-overlay-button.assertive {
  background-color:  #00363a ;
  color: white;
}

button.button-icon.round-overlay-button.assertive.activated {
  background-color:  #00363a ;
}

button.button-icon.round-overlay-button.positive {
  background-color: #387ef5;
  color: white;
}

button.button-icon.round-overlay-button.positive.activated {
  background-color: #0b56d6;
}

button.button-icon.round-overlay-button.stable {
  background-color: rgba(0, 0, 0, 0.26);
  color: rgba(0, 0, 0, 0.26);
}

button.button-icon.round-overlay-button.stable.activated {
  background-color: rgba(0, 0, 0, 0.26);
}

button.button-icon.round-overlay-button.icon:before {
  font-size: 24px;
}

button.button-icon.round-overlay-button.small {
  height: 40px;
  width: 40px;
  min-height: 40px;
  padding: 0;
  border: none;
}

button.button-icon.round-overlay-button.small.icon:before {
  line-height: 40px;
}

button.button-icon.round-overlay-button.activated {
  opacity: 1;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

button.button-icon.round-overlay-button.left {
  left: 1px;
  top: 16px;
}

button.button-icon.round-overlay-button.bottom-edge-right {
  bottom: -24px;
  right: 16px;
  z-index: 12;
}

button.button-icon.round-overlay-button.bottom-right {
  bottom: 200px;
  margin-bottom: 16px;
  right: 16px;
  z-index: 2;
}

button.button-icon.round-overlay-button.bottom-right.slide-down {
  transform: translate3d(0, 88px, 0);
}

[angular-ripple] {
  position: relative;
  overflow: hidden;
}
.angular-ripple {
  display: block;
  position: absolute;
    background:rgba(255, 255, 255, 0.3);
  border-radius: 50%;
 -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}
.angular-ripple.animate {
 -webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
.item-select select{
	padding:0 28px 0 0;
}
