  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

      <!-- un-comment this code to enable service worker
      <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('service-worker.js')
            .then(() => console.log('service worker installed'))
            .catch(err => console.log('Error', err));
        }
      </script>-->

      <link href="css/ionic.app.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">


      <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
      <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script type="text/javascript" src="js/angular-ripple.js"></script>
    <script type="text/javascript" src="lib/angular-jwt/dist/angular-jwt.js"></script>
    <script type="text/javascript" src="lib/ngCordova/dist/ng-cordova.min.js"></script>
  </head>
  <body ng-app="starter" ng-controller="profileCtrl">
      <!--
        The nav bar that will be updated as we navigate between views.
      -->
      <ion-side-menus enable-menu-with-back-views="false">
       <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced" >
          <ion-nav-back-button>
          </ion-nav-back-button>
          <ion-nav-title>
           FUND COLLECTION
         </ion-nav-title>
         <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
          

        </ion-nav-buttons>
        
      </ion-nav-bar>  
      <ion-nav-view> <ion-view>

      </ion-view></ion-nav-view>



    </ion-side-menu-content>      
    
    <ion-side-menu class="menu  menu-left "  side="left">
     <ion-header-bar class=" bar bar-balanced expanded  disable-user-behavior" >
       <div ng-click="getProfile()" menu-close>                  
        <img class="avatar profile-size" src="img/{{profile_img}}" alt="">
        <!--  <img src="img/ionic.png" class="avatar padding"   > -->
        
        <h3 class="">Fund Collection</h3>
      </div>
    </ion-header-bar>

    <ion-content class="scroll-content has-expanded-header ionic-scroll  has-header">
      <ion-list>

      <!--   <li class="item item-toggle item-icon-left">
          <i class="icon ion-ios-bell"></i>
          Notification
          <label class="toggle toggle-balanced">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
       </li> 
-->
		   
       <li class=" item item-icon-left " menu-close href="#/tab/facts">

       <i class="icon  ion-person-stalker"></i>
       About Us
     </li>
     <li class=" item item-icon-left " menu-close href="#/tab/facts2">
      <i class="icon ion-chatbubbles"></i>
      FAQ
    </li>  
    <li   class=" item item-icon-left " menu-close ng-click="signout()">
      <i class="icon ion-person" title="logout" ></i>
      Logout
    </li>
  </ion-list>
</ion-content>
</ion-side-menu>
</ion-side-menus>
    </body>
    </html>
